/* shop */
#shop {
    width: 100vw;
    height: 100vh;
    background-color: #fbf0e6;
    color: #23614a;  
}

#shop section {
    width: 33.333vw;
    height: inherit;
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;
    padding: 15vh;
    transition: 1s;
}

#shop section h3 {
    text-align: center;
    margin-bottom: 4vh;
    font-family: adobe-garamond-pro;
    font-weight: 500;
    font-size: 1.6em;
}

#shop .view {
    width: 7vw;
    height: 4vh;
    border: 0.5px solid #23614a;
    border-radius: 25px;
    text-align: center;
    line-height: 4vh;
    margin-top: 1vh;
    z-index: 3;
    transition: 0.5s;
}
/* view hover 효과 */
.view-hover {
    width: 7vw;
    height: 4vh;
    background-color: #23614a;
    border-radius: 25px;
    top: 74vh;
    transition: 0.5s;
    z-index: 0;
}

#shop .view a {
    font-family: '나눔스퀘어';
    font-weight: bold;
}

/* shop-img */

#shop .img-box {
    width: 30vw;
    height: 50vh;
    /* border: 1px solid red; */
    transition: 0.5s;
}

.img-box .shopFour {
    right: 11vw;
    bottom: 8vh;
}

.img-box .shopThree {
    right: 4vw;
    bottom: 15vh;
}

.img-box .shopTwo {
    right: 10vw;
    top: 7vh;
}

.img-box .shopOne {
    left: 4vw;
    top: 15vh;
}