/* font */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* re */
.po-re {position: relative;}
.po-ab {position: absolute;}
.dis-flex {display: flex;}
.hidden{display: none;}
.block{display: block;}
.white{color: white;}
.opa-1 {opacity: 1;}
.opa-0 {opacity: 0;}

/* .green{background-color: #23614a;} */

/* init */
*{margin: 0;padding: 0;box-sizing: border-box;}
ul, li {list-style: none;}
a {text-decoration: none;color: inherit;}
body{overflow-x: hidden;}

/* layout */
#container {
    width: 100vw;
    height: inherit; 
}

/* trans */
.trans {
    transition: 1500ms;
    opacity: 0;
}